@charset "utf-8";
/* CSS Document */

/*Header / type animation on frontpage*/

.velkommen {
	/*The image used*/
	background-image: url("../image/background_image.jpg");
	/*specitic height*/
	height: 600px;
	width: 100%;
	/*The parallax scrolling effect*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#heading_wrapper {
	width: 100%;
	top: 300px; /*Middle of the background-image*/
	text-align: center;
	position: absolute;
}

.velkommen h1 {
	transform: translateY(-70%);
	/*background-color: rgba(255,255,255,0.45);*/
	padding: 10px 0;
	width: 70%;
	margin: 0 15%;
}

/*Cursor animation*/
.velkommen h1:after {
	content: "|";
	-webkit-animation: blink 300ms ease-in-out infinite;
	animation: blink 300ms ease-in-out infinite;
	color: #434343;
	font-size: 30px;
}

 @-webkit-keyframes blink {
 0% {
 opacity: 0;
}
 50% {
 opacity: 0.5;
}
 100% {
 opacity: 1;
}
}
 @keyframes blink {
 0% {
 opacity: 0;
}
 50% {
 opacity: 0.5;
}
 100% {
 opacity: 1;
}
}




/*Arrow down section*/
.arrow_down_wrapper {
	width: 100%;
	height: 70px;
	margin: 650px 0 50px;
	text-align: center;
	vertical-align: center;
	position: relative;
}
i {
	border: solid black;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 15px;
}
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.down:hover {
	opacity: 0.6;
}

/*Media query for welcome picture and the arrow down*/
@media screen and (max-width: 900px) {
	.velkommen h1 {
	width: 95%;
	margin: 0 0;
}
}

@media screen and (max-width: 600px) {
	.velkommen {
		height: 450px;
	}
	#heading_wrapper {
		display: none;
	}
	.arrow_down_wrapper {
		margin: 500px 0 20px;
	}
}


/*Project gallery section*/

.gallery_product {
	max-height: 360px;
	max-width: 360px;
}
