@charset "utf-8";
/* CSS Document */

#gallerywrapper {
	width: 70%;
	height: auto;
	margin: auto;
	background-color: navajowhite;
}


.image-wrapper {
	width: 30%;
	height: auto;
	border: 1px solid black;
	flex: 0 0 30%;
	overflow: hidden;
	float: left;
}

.image-wrapper img {
	width: 100%;
	height: auto;
}



