@charset "utf-8";
/* CSS Document */


.port-image {
	width: 100%;
}
.gallery_product {
	margin-bottom: 30px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,255,255,0.60);
}

.gallery_product:hover .overlay {
  opacity: 1;
}

.overlay_text {
  color: #434343;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



