@charset "utf-8";
/* CSS Document */

.imagebox, .imagebox2 {
	background-color: rgba(196,224,164,1);
	padding: 2% 10%;
	margin-bottom: 3em;
}

		
.despription_img {
	width: 100%;
	height: auto;
}

.spacing {
	height: 50px;
	background: rgba(170,45,47,1.00);
}

.row {
	margin-bottom: 3em;
}

/*Arrows for next and previous projects*/
.next_nav, .pre_nav {
	position: fixed;
	display: inline-block;
	width: 200px;
	height: 100px;
	z-index: 3;
	top: 50%;
}


.pre_nav {
	background: url("../image/arrow_left.png") 90% no-repeat #B3B3B3;
	/*border: 1px solid black;
	border-left: none;*/
	left: 0px;
	margin-left: -140px;
	display: block;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.pre_nav a {
	width: 140px;
	float: right;
	padding: 33px 50px 33px 0px;
	visibility: hidden;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.pre_nav:hover {
	margin-left: 0px;
}

.next_nav {
	background: url("../image/arrow_right.png") 10% no-repeat #B3B3B3;
	/*border: 1px solid black;
	border-right: none;*/
	right: 0px;
	margin-right: -140px;
	display: block;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}

.next_nav a {
	width: 50%;
	float: left;
	padding: 10% 0;
	margin-left: 40%;
	visibility: hidden;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.next_nav:hover {
	margin-right: 0px;
}

.next_nav:hover a, .pre_nav:hover a {
	visibility: visible;
}

@media screen and (max-width: 767px){
	.document_links, .imagebox {
		display: none;
	}
	
	h1 {
		margin-bottom: 0;
	}
	
	article {
		margin-bottom: 3em;
	}
	
	.next_nav, .pre_nav {
		display: block;
		position: relative;
		margin: auto;
		width: 80%;
		height: 50px;
	}
	
	.pre_nav {
		margin-bottom: 3em;
	}
	
	.next_nav a, .pre_nav a {
		    text-align: center;
    width: 100%;
    margin: auto;
    padding: 15px 0;
	visibility: inherit;
	}
}